{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Amazon</title>
</head>

<body style="box-sizing:border-box;padding:0px;margin:0px">

    <div style="
    background-color: #141920;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;">
        <img src="{% static 'home/Group.png' %}" alt="Amazon Logo " style="margin-left: 25px;">
        
    <nav style="display:flex;width:100%;margin-top:4px;gap: 10px;">
 <div style="margin-left: 25px; margin-top: 2px;"> 
        <p style="
            color: #FFFFFF;
            font-size: 14px;
            margin: 10px;
        ">
            Deliver to Prabhas
        </p>

        <p style="
            color: #FFFFFF;
            font-size: 18px;
            font-weight: bold;
            margin: 0px 0 0;
        ">
            Jamshedpur 831001
        </p>
    </div>
    <form style="
    display:flex;
    height:40px;
    width:864px;
    margin-left:40px;
    margin-top:4px;
    ">
    <input
    type="text" placeholder="Search Amazon"
    style="
    flex:1;
    border:none;
    padding:0 15px;
    font-size:15px;
    outline:none;
    width:120px;
    "
    >
    <button type="submit"style="
    width: 80px;
    border: none;
    background-color: #febd69;
    font-size: 20px;
    cursor: pointer;">🔍</button></form>
    
    <div style="
    padding:0px
    cursor:pointer;
    font-size:40px;
    margin-top:2px;
    ">🇮🇳</div>
    <div style="
    margin-left:18px;
    line-height:1px;">
    <p style="
    color: #FFFF;
    text-size:14px;">Hello Prabhas</p>
    <p style="
            color: #FFFFFF;
            font-size: 18px;
            font-weight: bold;
            margin: 0px 0 0;
        ">Account & List</p></div>
    <div style=
    "margin-left:22px;
    line-height:1px">
    <p style="
    color: #FFFF;
    text-size:14px;
    ">Returns</p>
    <p style="
    color:#FFFF;
    text-size:18px;
    text-weight:bold;">& Orders</p></div>
    <div style ="
    margin-left:26px;width:90px;display:flex; gap:2px;">
    <img src="{% static 'home/Layer 2.png' %}" alt="Cart">
    <p style="
    color:#ffff;>
    font-size:18px; font-weight:bold">Cart</p></div></div></nav>
    <nav style="background-color: #252F3D;
    width: 100%;
    height: 40px;
    display:flex;">
    <div style="
    display:flex;
    margin-left: 25px;
    width:100%;
    gap: 9px;
    height: 25px;">
    <img src="{% static 'home/hamburger 1.png' %}" alt="All" style="align-items: center; margin-top:5px, height:18px">
    <p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">All</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Fashion</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Mobiles</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Gift Ideas</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Prime</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Amazon Pay</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Gift Cards</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Sports, Fitness & Outdoors</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Computers</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">Customer Service</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer; text-size:54px;text-size:54px;">CINDRELLA</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">JOIN PRIME NOW</p>
<p style="color: #FFF;margin-left:30px; margin-top:7px; cursor:pointer;">|</p>
<p style="color: #0dd5f0;margin-left:30px; margin-top:7px; cursor:pointer;text-size:54px;text-size:54px">prime video</p></div></nav>










    
    
    

    

    

</body>
<main style="">
<img src="{% static 'home/Advs.png' %}" alt="Amazon Logo" style="margin: 0 160px;">
{% comment %} <img src="{% static 'home/content-area.png' %}" style="margin-left:240px; margin-top:-4px;"> {% endcomment %}
<div style="width:360px;height:420px;background-color: #ffffff; position: absolute;
        margin-left:300px;
        margin-top:-245px;
        ">
    <div style="width:310px; height:100px; display:flex; gap:18px;margin-left:12px;">
        <img src="{% static 'home/prabhas.png' %}" style="margin-top:18px;border-radius:64px">
        <p style="font-size:34px; font-weight:bold; align-items:center">Hi, Prabhas</p>
        <p style="font-size:20px; position:absolute; margin-top:80px;margin-left:100px;">Customer since 2017</p>
    </div> 
    <p style="font-size:20px; font-weight:semi-bold;margin-left:17px;">Top Links For You</p>
    <div style="display:flex; gap:10px; margin-left:24px;">
        <img src="{% static 'home/1.png' %}" alt="Your Orders" style="width:150px; height:130px;">
        <img src="{% static 'home/2.png' %}" alt="Mobiles" style="width:150px; height:130px;">
    </div>
    <br>
    <div style="display:flex; gap:10px; margin-left:24px;">
        <img src="{% static 'home/watches.png' %}" alt="Your Orders" style="width:150px; height:130px;">
        <img src="{% static 'home/fashion.png' %}" alt="Mobiles" style="width:150px; height:130px;">
    </div></div>
    <div style="width:360px;height:420px;background-color: #ffffff; position: absolute;
        margin-left:750px;
        margin-top:-245px;
        ">
    <div style="width:310px; height:100px; display:flex; gap:18px;margin-left:18px;">
    <p style="font-size:28px;font-weight:semi-bold;align-items:center">Up to 70% off | Electronics clearance store</p></div>
    <br>
    <div style=" margin-left:24px"><img src="{% static 'home/electronics.png' %}" alt="electronics; "></div>
    <p style="color: #007185;margin-left:24px; cursor:pointer;">See all deals</p></div>
    <div style="width:350px;height:146px;background-color: #ffffff; position: absolute;
        margin-left:1200px;
        margin-top:-245px;
        ">
    <div style="width:310px; height:24px; display:flex; gap:18px;margin-left:18px;">
    <p style="font-size:20px;font-weight:semi-bold;align-items:center">Shop on the Amazon App</p></div>
    <br>
    <p style="font-size:14px;margin-left:18px;">Fast, convenient and secure | Over 17 crore products in your pocket</p>
    
    <p style="color: #007185;margin-left:18px; cursor:pointer;">Download the Amazon App</p></div>
    <div style="width:350px;height:250px;background-color: #ffffff; position: absolute;
        margin-left:1200px;
        margin-top:-75px;
        ">
    <img src="{% static 'home/Laptops.png' %}" alt="Laptops" style="width:350px;height:250px"></div></main><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="width:1380px;height:320px;background-color: #FFFF; display:flex;gap:10px; margin-left:180px;">
        <img src="{% static 'home/Bikes.png' %}" alt="Bikes" style="width:1380px;height:320px;align-item:center;">
        <p style="font-size:28px; font-weight:bold; position:absolute; margin-left:30px; margin-top:-20px;">No Cost EMI</p>
        
    </div><br><br>
    <div style="width:1380px;height:240px;background-color: #FFFF; display:flex;gap:10px; margin-left:180px;">
        <img src="{% static 'home/Frame 70.png' %}" alt="accesories" style="width:1380pxr;height:225px;align-item:center;">
    <p style="font-size:28px; font-weight:bold; position:absolute; margin-left:30px; margin-top:-45px;">Accessories for your devices</p></div><br><br>



     <div style="position: relative; width:100%; height:642px;">
        <img src="{% static 'home/Frame 766.png' %}" alt="prime" style="width:100%;height:642px; display:block;">
        <p style="position:absolute; left:60px; top:70px; font-size:40px; font-weight:bold; color: #ffffff; margin:0;">Welcome to Prime Video</p><br><br>
        <p style="position:absolute; left:60px; top:140px; font-size:29.23px; color: #ffffff; margin:0;">Join Prime to watch the latest movies, TV shows and award-<br>winning Amazon Orignals</p>
        <button style="width:352.79px; height:68.32px; background-color: #0F79AF ;position:absolute; left:60px; top:260px;margin:0; border-radius:6.72px;border: #0F79AF;cursor:pointer; color: #ffffff;font-size:22.5px;">Sign in to join Prime</button>
    </div>

    <button style="width:100%; height:80px; background-color: #37475A; color: #FFFF;font-size:16px;cursor:pointer; border-color: #37475A;" alt="BackToTop">Back to Top </button>
    <div style="width:100%; height:548px; background-color: #232F3E;">
    <div style="display:flex; justify-content:center; gap:124px; padding-top:50px;">
        <ul style="width:134.29px;height:167.09px; list-style:none; padding:0; display:flex; flex-direction:column; gap:12px;">
            <li><a style="color: #ffffff; font-size:20.46px; font-weight:bold; display:block;">Get to know Us</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">About Us</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Careers</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Press Releases</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Amazon Science</a></li>
        </ul>
        <ul style="width:134.29px;height:167.09px; list-style:none; padding:0; display:flex; flex-direction:column; gap:12px;">
            <li><a style="color: #ffffff; font-size:20.46px; font-weight:bold; display:block;">Connect with Us</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Facebook</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Twitter</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Instagram</a></li>
        </ul>
         <ul style="width:194.29px;height:167.09px; list-style:none; padding:0; display:flex; flex-direction:column; gap:12px;">
            <li><a style="color: #ffffff; font-size:20.46px; font-weight:bold; display:block;">Make Money with Us</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Sell on Amazon</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Sell under Amazon Accelerator</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Protect and Build Your Brand</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Amazon Global Selling</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Supply to Amazon</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Become an Affiliate</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Fulfilment by Amazon</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Advertise Your Products</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Amazon Pay on Merchants</a></li>
        </ul>
        <ul style="width:194.29px;height:167.09px; list-style:none; padding:0; display:flex; flex-direction:column; gap:12px;">
            <li><a style="color: #ffffff; font-size:20.46px; font-weight:bold; display:block;">Let Us Help You</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Your Account</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Returns Center</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Recalls and Products Safety Alerts</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">100% Purchase Protection</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Amazon App Download</a></li>
            <li><a style="color: #ffffff; font-size:18.79px; display:block;">Help</a></li>
        </ul>
    </div>
    <div style="display:flex; justify-content:center; padding-top:26px;position:absolute;margin-bottom:0px;margin-left:200px">
        <img src="{% static 'home/Amazon (1).png' %}" alt="Amazon Logo" style="width:109px; height:57.98px;">
    </div>
</div>
</html>